* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Ubuntu, sans-serif;
    background-color: #ff9999;
    color:#102a42;
    line-height: 1.5;
    font-size: 1rem;
}
h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 90vw;
    margin: 5rem auto;
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 2.5rem 2rem;
    display: grid;
    gap: 1rem 2rem;
}
.question {
    padding: 1rem 1.5rem;
    border: 2px solid #4a32a8;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question p {
    color: #32404d;
}
.question header h4 {
    margin-bottom: 0;
}
.btn {
    background: transparent;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:#b4345c;
    cursor: pointer;
   
}
